<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card class="session-card">
    <mat-card-header class="d-flex justify-content-center">
    <mat-card-title>{{'Login-message-1'|translate}}</mat-card-title>
  </mat-card-header>
  <form novalidate [formGroup]="userLoginFormGroup" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <p>
        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Email"
                 type="text"
                 id="email"
                 name="email"
                 formControlName="email"
                 required
          >
          <mat-error *ngIf="formService.checkHasErrors('email')">
            <mat-error *ngIf="formService.checkRequired('email')">{{'field-required' | translate}}</mat-error>
            <mat-error *ngIf="formService.checkMaxLength('email')">This field require maximum length 50 character</mat-error>
            <mat-error *ngIf="formService.checkEmail('email')">Error email format</mat-error>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Password"
                 type="password"
                 id="password"
                 name="password"
                 formControlName="password"
                 required
          >
          <mat-error *ngIf="formService.checkHasErrors('password')">
              <mat-error *ngIf="formService.checkRequired('password')">{{'field-required' | translate}}</mat-error>
              <mat-error *ngIf="formService.checkMinLength('password')">This field require minimum length 8 character</mat-error>
              <mat-error *ngIf="formService.checkMaxLength('password')">This field require maximum length 50 character</mat-error>
            </mat-error>
          </mat-form-field>
        </p>
      </mat-card-content>
      <div *ngIf="loading" class="d-flex justify-content-center my-4">
        <mat-spinner></mat-spinner>
      </div>
      <div class="d-flex justify-content-center">
        <button mat-stroked-button color="primary" class="btn-block"  type="submit" [disabled]="formService.checkFromHasErrors()">Log in</button>
      </div>
      <mat-error *ngIf="formService.checkFromHasErrors() && onSubmitted">This form has some errors, please validate that</mat-error>
      <mat-error *ngIf="errorAxios">Some errors occur sending request, please retry later</mat-error>
    </form>
  </mat-card>
</div>
