<mat-toolbar color="{{toolbarColor}}" (window:scroll)="onwindowScroll()">
  <div fxLayout="row" fxLayoutAlign="center center" class="mx-5 w-100">
    <div fxShow="true" fxHide.gt-sm="true" fxFlex="20">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
<!--        <button mat-menu-item [matMenuTriggerFor]="vertebrates" >-->
        <button mat-menu-item>
          <mat-icon>class</mat-icon>
          <span>Class</span>
        </button>
<!--        <mat-menu #vertebrates="matMenu">-->
<!--          <button mat-menu-item routerLink="/class/all" >All classes</button>-->
<!--          <button mat-menu-item>Mammals</button>-->
<!--        </mat-menu>-->
        <button mat-menu-item>
          <mat-icon>forum</mat-icon>
          <span>Forum</span>
        </button>
        <button mat-menu-item>
          <mat-icon>library_books</mat-icon>
          <span>Test</span>
        </button>
      </mat-menu>
    </div>
    <div fxShow="true" fxHide.lt-md="true" class="mx-5" fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
      <a href="#" class="navbar-brand">
        <img src="./assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div fxShow="true" fxHide.gt-sm="true" class="mx-5" fxFlex="80" fxLayout="row" fxLayoutAlign="center center">
      <a href="#" class="navbar-brand">
        <img src="./assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div fxShow="true" fxHide.lt-md="true" fxFlex="60" class="w-100">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30">
        <a class="nav-link" aria-current="page" routerLink="/">Home</a>
<!--        <div fxLayout="row" fxLayoutGap="5">-->
<!--        <a class="nav-link" aria-current="page" routerLink="/class/all">Class</a>-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--        </a>-->
<!--        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--          <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--          <li><hr class="dropdown-divider"></li>-->
<!--          <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--        </ul>-->
<!--        </div>-->
        <a class="nav-link" routerLink="/class/all">Class</a>
        <a class="nav-link" routerLink="/forum/all">Forum</a>
        <a class="nav-link" routerLink="/test/all">Test</a>
      </div>
    </div>
    <div fxFlex="20" fxLayoutAlign="end center">
      <button mat-icon-button [matMenuTriggerFor]="lanMenu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #lanMenu="matMenu">
        <div *ngFor="let dropLan of dropdownLanguageItem | keyvalue">
          <button mat-menu-item class="{{ getLangClass(dropLan.key) }}" (click)="switchLanguage(dropLan.key)">
            <span>{{ dropLan.value.name }}</span>
          </button>
        </div>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="accMenu1" *ngIf="!isLoggedIn">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-button class="profile-button" [matMenuTriggerFor]="accMenu2" *ngIf="isLoggedIn">
        <img
          class="thumbnail"
          width="28px"
          src="{{currentUserThumbnail}}"
        />
        {{currentUser.name}}
      </button>

      <mat-menu #accMenu1="matMenu">
        <button mat-menu-item routerLink="/login">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/register">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
      </mat-menu>
      <mat-menu #accMenu2="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>manage_accounts</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item routerLink="/mycontents">
          <mat-icon>dashboard</mat-icon>
          <span>My Content</span>
        </button>
<!--        <button mat-menu-item routerLink="/profile/favorite">-->
<!--          <mat-icon>star</mat-icon>-->
<!--          <span>Favorite</span>-->
<!--        </button>-->
        <button mat-menu-item routerLink="/history">
          <mat-icon>history</mat-icon>
          <span>History</span>
        </button>
        <mat-divider class="mx-2"></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span class="text-danger">Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>


          <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <div class="navbar-header">-->
<!--      <a href="#" class="navbar-brand">-->
<!--        <img src="./assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="collapse navbar-collapse ms-xxl-4" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item mx-3">-->
<!--          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item mx-3">-->
<!--          <a class="nav-link" routerLink="/register">Forum</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown mx-3">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item mx-3">-->
<!--          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="navbar-default">-->
<!--      <div class="collapse navbar-collapse ms-xxl-4" >-->
<!--        <div>-->
<!--          <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--            <button class="navbar-toggler"-->
<!--                    type="button"-->
<!--                    data-toggle="collapse"-->
<!--                    data-target="#languageDropdown"-->
<!--                    aria-controls="languageDropdown"-->
<!--                    aria-expanded="false"-->
<!--                    aria-label="Toggle language dropdown">-->
<!--              <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <li class="nav-item dropdown mx-3">-->
<!--              <a class="nav-link dropdown-toggle"-->
<!--                 role="button"-->
<!--                 data-bs-toggle="dropdown"-->
<!--                 aria-expanded="false"-->
<!--                 aria-haspopup="true"-->
<!--                 id="languageDropdown">-->
<!--                Language-->
<!--              </a>-->
<!--              <ul class="dropdown-menu" aria-labelledby="languageDropdown">-->
<!--                <li *ngFor="let dropLan of dropdownLanguageItem | keyvalue">-->
<!--                  <a class="{{getLangClass(dropLan.key)}}" (click)="switchLanguage(dropLan.key)">{{ dropLan.value.name }}</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div *ngIf="isLoggedIn; then loggedInBlock else notLoggedInBlock"></div>-->
<!--        <ng-template #loggedInBlock>-->
<!--          <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--            <li class="nav-item mx-3">-->
<!--              <a class="nav-link" routerLink="/profile">Profile</a>-->
<!--            </li>-->
<!--            <li class="nav-item mx-3">-->
<!--              <a class="nav-link" (click)="logout()">Logout</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </ng-template>-->
<!--        <ng-template #notLoggedInBlock>-->
<!--          <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--            <li class="nav-item mx-3">-->
<!--              <a class="nav-link" routerLink="/login">Login</a>-->
<!--            </li>-->
<!--            <li class="nav-item mx-3">-->
<!--              <a class="nav-link" routerLink="/register">Sign Up</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </ng-template>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
