<div fxLayout="column" fxLayoutGap="10px">
  <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center top" class="mt-2 mb-5">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="mx-3 mb-5 landing-img">
      <div fxLayout="column" fxFlex="75%" class="w-100 h-100">
        <div fxLayout="row" fxLayoutAlign="center center" class="w-100 h-50 pb-1">
          <mat-card class="mat-elevation-z4 card w-100 h-100 p-0" routerLink="/class/{{randomHomeImg[0].code}}">
            <img class="w-100 h-100 img-cover" src="{{domain+'/'+randomHomeImg[0].home_img}}" alt="alt">
          </mat-card>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="w-100 h-50">
          <div fxLayout="row" class="w-25 h-100">
            <mat-card class="mat-elevation-z4 card w-100 h-100 p-0" routerLink="/class/{{randomHomeImg[1].code}}">
              <img class="w-100 h-100 img-cover" src="{{domain+'/'+randomHomeImg[1].home_img}}" alt="alt">
            </mat-card>
          </div>
          <div fxLayout="row" class="w-75 h-100">
            <mat-card class="mat-elevation-z4 card w-100 h-100 p-0" routerLink="/class/{{randomHomeImg[2].code}}">
              <img class="w-100 h-100 img-cover" src="{{domain+'/'+randomHomeImg[2].home_img}}" alt="alt">
            </mat-card>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="25%" fxLayoutGap="5px" class="w-100 h-100 ps-1">
        <mat-card class="mat-elevation-z4 card w-100 h-100 p-0" routerLink="/class/{{randomHomeImg[3].code}}">
          <img class="w-100 h-100 img-cover" src="{{domain+'/'+randomHomeImg[3].home_img}}" alt="alt">
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="px-3 grid-centered">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let lan of languageList">
          <mat-card class="mat-elevation-z4 card h-100" routerLink="/class/{{lan.code}}">
            <mat-card-header class="justify-content-center">
              <mat-card-title>{{lan.language}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{domain+'/'+lan.home_img_mini}}" alt="alt">
            <mat-card-content>
              <p class="fst-italic">
                &#171;"{{lan.home_phrase}}"&#187;
              </p>
            </mat-card-content>
  <!--          <mat-card-actions> &lt;!&ndash; recordar si quiere usar boton un prevent propagacion&ndash;&gt;-->
  <!--            <button mat-button>LIKE</button>-->
  <!--            <button mat-button>SHARE</button>-->
  <!--          </mat-card-actions>-->
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
