<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="mx-3 mb-5 landing-img">
    <div fxLayout="column" fxFlex="75%" class="w-100 h-100">
      <div fxLayout="row" fxLayoutAlign="center center" class="w-100 h-50 pb-1">
        <mat-card class="mat-elevation-z4 card w-100 h-100 p-0" routerLink="/class/en-US">
          <img class="w-100 h-100 img-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png" alt="alt">
        </mat-card>
      </div>
      <div fxLayout="row" fxLayoutGap="5px" class="w-100 h-50">
        <div fxLayout="row" class="w-25 h-100">
          <mat-card class="mat-elevation-z4 card w-100 h-100 p-0" routerLink="/class/all">
            <img class="w-100 h-100 img-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png" alt="alt">
          </mat-card>
        </div>
        <div fxLayout="row" class="w-75 h-100">
          <mat-card class="mat-elevation-z4 card w-100 h-100 p-0" routerLink="/class/all">
            <img class="w-100 h-100 img-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png" alt="alt">
          </mat-card>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="25%" fxLayoutGap="5px" class="w-100 h-100 ps-1">
      <mat-card class="mat-elevation-z4 card w-100 h-100 p-0" routerLink="/class/all">
        <img class="w-100 h-100 img-cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png" alt="alt">
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="px-3 grid-centered">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]">
        <mat-card class="mat-elevation-z4 card" routerLink="/class/all">
          <mat-card-header>
            <mat-card-title>Language {{num}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png" alt="alt">
          <mat-card-content>
            <p>
              The Himalayas is a mountain range in Asia.
            </p>
          </mat-card-content>
<!--          <mat-card-actions> &lt;!&ndash; recordar si quiere usar boton un prevent propagacion&ndash;&gt;-->
<!--            <button mat-button>LIKE</button>-->
<!--            <button mat-button>SHARE</button>-->
<!--          </mat-card-actions>-->
        </mat-card>
      </div>
    </div>
  </div>
</div>
