<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<form *ngIf="!loading" [formGroup]="submitRecord!" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100">
    <mat-label>Name</mat-label>
    <input
      matInput
      formControlName="name">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Description</mat-label>
    <input
      matInput
      formControlName="description">
  </mat-form-field>
  <div
    *ngIf="data.mode == 'create' &&
    (data.obj == 'episode' || data.obj == 'file')"
    class="mb-3"
  >
    <input type="file" ng2FileSelect [uploader]="uploader"><br/>
    <div *ngIf="data.obj == 'episode'">
      <mat-hint>Maximun allowed file size is 200MB and type .mp3 and .mp4</mat-hint>
    </div>
    <div *ngIf="data.obj == 'file'">
      <mat-hint>Maximun allowed file size is 10MB and type .pdf</mat-hint>
    </div>
  </div>
  <button
    mat-raised-button
    [disabled]="submitRecord!.invalid || loading || isFileUploaded"
  >Submit </button>
</form>
