<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<app-comment *ngIf="!loading"
  [withoutBody]="true"
  [withoutHeader]="false"
  [commentOnly]="commentOnly"
  [noteOnly]="noteOnly"
  [inReplyTo]="inReplyTo"
  [rootCommId]="rootCommId"
  [parentType]="parentType"
  [serieId]="serieId"
  [masterRecord]="masterRecord"
  [mode]="mode"
  [defaultCommBody]="defaultCommBody"
  [defaultNoteTitle]="defaultNoteTitle"
  [defaultNoteDescription]="defaultNoteDescription"
  [defaultNoteBody]="defaultNoteBody"
  (commToSend)="sendData($event)"
></app-comment>
