<div fxLayout="column" fxLayoutGap="10px" class="general-body-margin">
  <mat-card class="mat-elevation-z4">
    <!--              <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png" alt="alt">-->
    <mat-card-content>
      <mat-card-title>Post </mat-card-title>
      <mat-card-subtitle>Author: ssss </mat-card-subtitle>
      <p>
        The Himalayas is a mountain range in Asia. The Himalayas is a mountain range in Asia.The Himalayas is a mountain range in Asia.The Himalayas is a mountain range in Asia.The Himalayas is a mountain range in Asia.The Himalayas is a mountain range in Asia.The Himalayas is a mountain range in Asia.The Himalayas is a mountain range in Asia.The Himalayas is a mountain range in Asia.The Himalayas is a mountain range in Asia.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Like</button>
      <button mat-raised-button color="accent">Share</button>
      <button mat-raised-button color="warn">Subscribe</button>
    </mat-card-actions>
  </mat-card>
  <app-comment></app-comment>
</div>
