<div fxLayout="column" fxLayoutGap="10px" class="general-body-margin" *ngIf="!postRecord">
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div fxLayout="column" fxLayoutGap="10px" class="general-body-margin" *ngIf="postRecord">
  <mat-card class="mat-elevation-z4 p-4">
    <!--              <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png" alt="alt">-->
    <mat-card-content>
      <mat-card-title>{{postRecord!.title}}</mat-card-title>
      <mat-card-subtitle>Author: {{postRecord!.author!.name}} on {{getFormatDate(postRecord!.updated_at)}} </mat-card-subtitle>
      <div fxLayout="column">
        <div [innerHTML]="postRecord!.body | safeHtml" class="w-100"></div>
        <div fxLayout="row" fxLayoutGap="5px" class="mt-3">
          <div fxFlexAlign="center">
            <p class="m-0 p-0 align-middle">Language: </p>
          </div>
          <div class="chip" fxFlexAlign="center">
            <span class="chip-content">{{postRecord.language?.language}}</span>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px" class="mt-3">
          <div fxFlexAlign="center">
            <p class="m-0 p-0 align-middle">Tags: </p>
          </div>
          <div class="chip" fxFlexAlign="center" *ngFor="let tag of postRecord?.tags">
            <span class="chip-content">{{tag.name}}</span>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="onEditPost(postRecord)">Edit</button>
      <button mat-raised-button color="warn" (click)="onDeletePost(postRecord)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <app-comment
    [commentOnly]="true"
    [masterRecord]="postId"
    [parentType]="'post'"
    [mode]="'create'"
  ></app-comment>
</div>
