/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.card:hover{
  box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}
.img-cover {
  object-fit: cover;
}

.general-body-margin {
  margin-left: 5%;
  margin-right: 5%;
}

.ngx-pagination {
  padding: 0px !important;
  margin: 0px !important;
}
.text-oneline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-multilines {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.chip{
  display: inline-flex;
  flex-direction: row;
  background-color: #e5e5e5;
  border: none;
  cursor: default;
  height: 36px;
  outline: none;
  padding: 0;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
}
.chip-content{
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;

}
.chip:hover{
  background-color: lightskyblue;
}


.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-dialog-container {
  overflow: unset
}


@media (min-width: 1200px) {
  .general-body-margin {
    margin-left: 15%;
    margin-right: 15%;
  }
}
