<div fxLayout="column" class="general-body-margin" *ngIf="!showDetail">
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="mat-elevation-z4 w-100">
        <div fxLayout="row" fxLayoutGap="20px" fxFlexAlign="center center">
          <img mat-card-image
               fxFlex="20%"
               class="w-100 m-1 img-thumbnail"
               style="object-fit: contain;"
               src="{{domain+'/'+seriesRecord?.image}}"
               alt="series thumbnail"
               (click)="onEditImage()"
          >
          <div fxLayout="column" fxFlex="80%" class="h-100 m-1" fxLayoutGap="10px">
            <div fxLayout="row" fxFlex="60%">
              <mat-card-content>
                <mat-card-title class="text-oneline" style="width: 75%;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{seriesRecord!.title}}">{{seriesRecord!.title}}</mat-card-title>
                <mat-card-subtitle>Author: {{seriesRecord?.author?.name}} </mat-card-subtitle>
                <p style="width: 90%;">
                  {{seriesRecord?.description}}
                </p>
              </mat-card-content>
            </div>
            <div fxLayout="row" fxFlex="20%" fxLayoutGap="5px">
              <div fxFlexAlign="center">
                <p class="m-0 p-0 align-middle">Language: </p>
              </div>
              <div class="chip" fxFlexAlign="center">
                <span class="chip-content">{{seriesRecord?.language?.language}}</span>
              </div>
            </div>
            <div fxLayout="row" fxFlex="20%" fxLayoutGap="5px">
              <div fxFlexAlign="center">
                <p class="m-0 p-0 align-middle">Tags: </p>
              </div>
              <div class="chip" fxFlexAlign="center" *ngFor="let tag of seriesRecord?.tags">
                <span class="chip-content">{{tag.name}}</span>
              </div>
            </div>
          </div>
        </div>
        <mat-card-actions align="end" *ngIf="userHasPermission">
          <button
            mat-raised-button
            color="primary"
            (click)="onEditSerie(seriesRecord!)"
          >Edit</button>
          <button
            mat-raised-button
            color="warn"
            (click)="onDeleteSerie(seriesRecord!)"
          >Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="mat-elevation-z4 w-100">
        <!--      <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png" alt="alt">-->
        <mat-card-content>
          <mat-card-title>Related Files And Notes</mat-card-title>
          <mat-list>
  <!--          <mat-list-item *ngFor ="let folder of folders">-->
  <!--            <mat-icon matListIcon> folder </mat-icon>-->
  <!--            <h4 matLine> {{ folder.name }} </h4>-->
  <!--            <p matLine> {{ folder.updated | date}}</p>-->
  <!--          </mat-list-item>-->
            <mat-list-item
              class="card mt-1"
              (click)="openDialog('pdf',file)"
              *ngFor="let file of seriesRecord?.files"
            >
              <button
                mat-icon-button
                *ngIf="userHasPermission"
                (click)="onDeleteFile($event, file)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <mat-icon matListIcon> insert_drive_file </mat-icon>
              <h4 matLine> {{file.name}} </h4>
              <p matLine> {{file.description}} </p>

            </mat-list-item>
            <mat-list-item
              class="card mt-1"
              (click)="openDialog('note', note)"
              *ngFor="let note of seriesRecord?.comments"
            >
              <button
                mat-icon-button
                [matMenuTriggerFor]="menuN"
                aria-label="Note menu"
                *ngIf="userHasPermission"
                (click) = "$event.stopPropagation()"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuN="matMenu">
                <button
                  mat-menu-item
                  (click)="onEditNote(note)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button
                  mat-menu-item
                  (click)="onDeleteNote(note)"
                >
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <mat-icon matListIcon> format_align_justify </mat-icon>
              <h4 matLine> {{note.title}} </h4>
              <p matLine> {{note.description}} </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="userHasPermission">
          <button
            mat-raised-button
            color="primary"
            (click)="onAddNote()"
          >Add Note</button>
          <button
            mat-raised-button
            color="primary"
            (click)="onAddFile()"
          >Add File</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      *ngIf="seriesRecord!.tests?.length"
    >
      <mat-card class="mat-elevation-z4 w-100">
        <mat-card-content>
          <mat-card-title>Tests</mat-card-title>
          <div class="mt-3">
            <mat-list>
              <mat-list-item
                class="card mt-1"
                routerLink="/test/detail/{{test.id}}"
                *ngFor="let test of seriesRecord!.tests"
              >
                <h4 matLine> {{test.title}} </h4>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card class="mat-elevation-z4 w-100">
        <mat-card-content>
          <mat-card-title>Episodes</mat-card-title>
          <div class="mt-3">
            <mat-expansion-panel
              [expanded]="true"
              class="mt-1"
              *ngFor="let section of seriesRecord?.sections">
              <mat-expansion-panel-header>
                <mat-panel-title class="text-oneline" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{section.name}}">
                  {{section.name}}
                </mat-panel-title>
                <mat-panel-description class="pe-2 text-oneline" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{section.description}}">
                  {{section.description}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item
                  class="card mt-1"
                  routerLink="ep/{{episode.id}}"
                  *ngFor="let episode of section.episodes"
                >
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menuE"
                    aria-label="Note menu"
                    (click) = "$event.stopPropagation()"
                    *ngIf="userHasPermission"
                  >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuE="matMenu">
                    <button
                      mat-menu-item
                      (click)="onEditEpisode(section,episode)"
                    >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button
                      mat-menu-item
                      (click)="onDeleteEpisode(section,episode)"
                    >
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                  <mat-icon matListIcon> {{getIcon(episode)}} </mat-icon>
                  <h4 matLine> {{episode.title}} </h4>
                  <p matLine> {{episode.description}} </p>
                </mat-list-item>
              </mat-list>
              <mat-card-actions align="end" *ngIf="userHasPermission">
                <button
                  mat-raised-button
                  color="primary"
                  (click)="onAddEpisode(section)"
                >Add Episode</button>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="onEditSection(section)"
                >Edit Section</button>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="onDeleteSection(section)"
                >Delete Section</button>
              </mat-card-actions>
            </mat-expansion-panel>
          </div>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="userHasPermission">
          <button
            mat-raised-button
            color="primary"
            (click)="onAddSection()"
          >Add Section</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<app-class-episode
  [series]="seriesRecord"
  [currentEpisode]="selectedEpisode"
  *ngIf="showDetail">
</app-class-episode>
